// Add your own CSS here!
// Replace this with your own font imports!
@font-face {
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/RedHatDisplay-Medium.ttf) format('ttf');
}

@font-face {
	font-family: 'FiraCode Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/FiraCode-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/RedHatText-Regular.ttf) format('ttf');
}

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #BD93F9;
  --tertiary: #50FA7B;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
  --font-body: "Red Hat Text";
  --font-header: "Red Hat Display";
  --font-mono: "Fira Code Regular";
}

[saved-theme="dark"] {
  --light: #282A36 !important;
  --dark: #fbfffe !important;
  --secondary: #BD93F9 !important;
  --visited: #4a575e !important;
  --tertiary: #50FA7B !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
  --font-body: "Red Hat Text";
  --font-header: "Red Hat Display";
  --font-mono: "Fira Code Regular";
}



